[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
django-debug-toolbar = "*"
whitenoise = "*"

[dev-packages]
ipython = "*"
locust = "*"

[requires]
python_version = "3.8"
